In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

from mpl_finance import candlestick_ohlc
from matplotlib.dates import MONDAY, DateFormatter, DayLocator, WeekdayLocator


%matplotlib inline

In [2]:
import pandas_datareader.data as web
import datetime
start = datetime.datetime(2018,1,1)
end = datetime.datetime(2019,1,23)
stocks = 'LULU'
stocks = stocks.split()
data = web.DataReader(stocks, 'yahoo', start, end )

In [3]:
data.tail()

Attributes,High,Low,Open,Close,Volume,Adj Close
Symbols,LULU,LULU,LULU,LULU,LULU,LULU
Date,,,,,,
2019-01-16,143.250000,141.369995,142.360001,142.240005,1783500,142.240005
2019-01-17,146.039993,141.729996,141.729996,145.139999,3012100,145.139999
2019-01-18,152.179993,147.070007,147.520004,152.070007,3277100,152.070007
2019-01-22,151.660004,148.320007,150.520004,149.470001,1828200,149.470001
2019-01-23,151.729996,147.750000,151.429993,149.850006,1602100,149.850006